* {
  box-sizing: border-box;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
h2 {
  color: #c05060;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
p {
  font-size: 1rem;
}
span {
  color: #c05060;
}
button {
  border: 1px white solid;
  padding: 5px 10px;
}
.text-align-center {
  text-align: center;
}
.text-transform-uppercase {
  text-transform: uppercase;
}
.baner {
  height: 100vh;
}
.text-color-dimgrey {
  color: dimgrey;
}
.text-color-lightgrey {
  color: #b7b7b7;
}
.position-relative {
  position: relative;
}
.position-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.position-absolute-top-left {
  position: absolute;
  left: 20px;
  top: 20px;
}
.position-fixed {
  position: fixed;
  left: 0;
  right: 0;
}
.wrapper-95 {
  width: 95%;
}
.wrapper-90 {
  width: 90%;
}
.wrapper-70 {
  width: 70%;
}
.padding-main {
  padding: 50px 0;
}
.padding-nav {
  padding: 20px 0;
}
.float-33 {
  float: right;
  width: 33.333;
}
.float-25 {
  float: right;
  width: 25;
}
.clear {
  clear: both;
}
